/* Header */
.logo {
    background-color: #fef4e8;
    float: left;
    text-align: left;
    width: 25%;
    block-size: 130px;
}

.accountLogo {
        background-color: #fef4e8;
        display: flex;
        color: #2a2a2a;
        float: left;
        text-align: right;
        block-size: 130px;
        align-items: center;
        justify-content:right;
        width: 5%;
        font-size: 30px;
        border-left:2px solid #ffffff;
}

.account {
    background-color: #fef4e8;
    color: #2a2a2a;
    float: right;
    align-items: center;
    justify-content:left;
    padding-left: 10px;
    display: flex;
    block-size: 130px;
    width: 15%;
    font-size: 15px;
    font-family: Arial;
}

/* BackButton */
.backButton {
    width: 10%;
    float: left;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    font-family: Arial;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #808080;;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    transition: all 0.5;
    cursor: pointer;
    opacity: 0.8;
}

.backButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.backButton span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
    padding-right: 75px;
}

.backButton:hover span {
    padding-left: 25px;
  }
  
.backButton:hover span:after {
    opacity: 1;
    right: 0;
}

/* NextButton */
.nextButton {
    width: 10%;
    float: right;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    font-family: Arial;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #808080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    transition: all 0.5;
    cursor: pointer;
    opacity: 0.8;
    vertical-align: center;
}

.nextButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.nextButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nextButton:hover span {
    padding-right: 25px;
  }
  
.nextButton:hover span:after {
    opacity: 1;
    right: 0;
}

/* Navigation */
.navButton {
    background: #fef4e8;
    color: rgb(0, 0, 0);
    height: 40px;
    width: 40%;
    border: solid #fef4e8;
    font-size: 18px;
    font-weight: lighter;
    transition: all 0.5s;
    
}
.navButton:hover {
    background: #dad3c9;
}

#navBar {
    float: left;
    align-items: center;
    justify-content: left;
    font-family: Arial;
    padding-left: 10px;
    display: flex;
    block-size: 130px;
    background-color: #fef4e8;
    width: 55%;
    padding-right: 20px;
}

/* Naming symbols */
#nameSymbols {
    float: left;
    width: 30px;
    text-align: left;
}

/* Grid */
.grid-container1 {
    width: 40%;
    display: grid;
    float: left;
    grid-template-columns:145px 80px 100px;
    grid-template-rows: 85px 85px 85px 85px 85px 85px;
    gap: 10px;
    background-color: #fffdfa;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.7;
  }

  .grid-container2 {
    width: 40%;
    display: grid;
    float: right;
    grid-template-columns:145px 80px 100px;
    grid-template-rows: 85px 85px 85px 85px 85px 85px;
    gap: 10px;
    background-color: #fffdfa;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.7;
  }
  
  .grid-container1 > div {
    background-color: #fffdfa;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
  }
  
  .grid-container2 > div {
    background-color: #fffdfa;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
  }


/* Body CSS */
@media screen {
    body {
        background-image: url("BackgroundImage.jpg");
    }
}

/* Boys Over 1300px */
@media screen and (min-width: 1300px) {
    #boysName {
    float: left;
    color: #2a2a2a;
    display: flex;
    width: 50px;
    height: 20px;
    font-size: 35px;
    text-align: center;
    align-items: center;
    justify-content: left;
    font-family: Arial;
    display: flex;
    width: 100px;
    /*
    padding-left:
    border-right: 2px solid rgba(105, 105, 105, 0.031); 
    border-top: 3.5px solid rgba(105, 105, 105, 0.031); */
    }
}

/* Girls Over 1300px */
@media screen and (min-width: 1300px) {
    #girls {
    float: left;
    width: 30%;
    color: #2a2a2a;
    font-size: 35px;
    text-align: center;
    /*border-left: 2px solid rgba(105, 105, 105, 0.031);*/
    border-top: 3.5px solid rgba(105, 105, 105, 0.031);
    }
}

/* Paragraph 1 Over 1300px */
@media screen and (min-width: 1300px) {
    #paragraph1 {
    float: left;
    width: 100%;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: #2a2a2a;
    }
}

/* Boys Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #boys {
    float: left;
    width: 50%;
    color: #2a2a2a;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-right: 2px solid rgba(105, 105, 105, 0.09);
    border-top: 4px solid rgba(105, 105, 105, 0.09);
    }
}

/* Girls Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #girls {
    float: right;
    width: 50%;
    color: #2a2a2a;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-left: 2px solid rgba(105, 105, 105, 0.09);
    border-top: 4px solid rgba(105, 105, 105, 0.09);
    }
}

/* Paragraph 1 Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #paragraph1 {
    float: left;
    width: 100%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    color: #2a2a2a;
    }
}

/* Boys Under 480px */
@media screen and (max-width: 480px) {
    #boys {
    float: left;
    width: 100%;
    color: #2a2a2a;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    }
}

/* Girls Under 480px */
@media screen and (max-width: 480px) {
    #girls {
    float: left;
    width: 100%;
    color: #2a2a2a;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    border-top: 4px solid rgba(105, 105, 105, 0.031);
    }
}

/* Paragraph 1 Under 480px */
@media screen and (max-width: 480px) {
    #paragraph1 {
    float: left;
    width: 100%;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: #2a2a2a;
    }
}

/* Boy Names Heading Over 1300px */
@media screen and (min-width: 1300px) {
    #boyNames {
        color: rgb(0, 106, 145);
        text-align: center;
        float: left;
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: 60px;
        padding-left: 150px;
        padding-top: 20px;
        font-family: Helvetica;
    }
}

/* Girl Names Heading Over 1300px */
@media screen and (min-width: 1300px) {
    #girlNames {
        color: rgb(229, 65, 93);
        text-align: center;
        float: right;
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: 60px;
        padding-right: 150px;
        padding-top: 20px;
        font-family: Helvetica;
    }
}

/* Boy Names Heading Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #boyNames {
        color: rgb(0, 118, 161);
        text-align: center;
        
    }
}

/* Girl Names Heading Between 480px and 1300px*/
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #girlNames {
        color: rgb(208, 78, 99);
        text-align: center;
    }
}

/* Boy Names Heading Under 480px */
@media screen and (max-width: 480px) {
    #boyNames {
    float: left;
    width: 50%;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 118, 161);
    }
}

/* Girl Names Heading Under 480px */
@media screen and (max-width:480px) {
    #girlNames {
    float: left;
    width: 50%;
    font-weight: bolder;
    text-align: center;
    color: rgb(208, 78, 99);
    }
}




