/* Initial Setting for App */
@media screen {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

/* Transition Data */
@media screen {
    .v-enter-active,
    .v-leave-active {
    transition: opacity 0.5s ease;
    }
}

/* Transition Data */
@media screen {
    .v-enter-from,
    .v-leave-to {
    opacity: 0;
    }
}

/* Login Logo */
@media screen and (min-width: 1300px) {
    #loginLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 50px;
    }
}

/* Credentials Data */
@media screen and (min-width: 1300px) {
    #credentials {
        text-align: center;
    }
}

/* Naming Options Drop-down Filter */
@media screen and (min-width: 1300px) {
    .filter {
        text-align: center;
        width: 100%;
        float: left;
        background-color: rgb(247, 247, 247);
        border-bottom: solid rgb(193, 193, 193);
        border-top: solid rgb(193, 193, 193);
    }
}

/* Empty Favourites Message */
@media screen and (min-width: 1300px) {
    .emptyMessage {
        text-align: center;
        position: fixed;
        width: 50%;
    }
}

/* Favourites Name Viewer - Complete */
@media screen and (min-width: 1300px) {
    #nameViewer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: 80px;
        clear: both;
    }
}

/* Favourites Name Viewer - First Name */
@media screen and (min-width: 1300px) {
    #firstName {
        background-color: rgb(225, 223, 223);
        color: black;
        height: 150px;
        text-align: center;
        line-height: 130px;
        border: solid white;
        border-right-width: 2px;
        border-bottom-width: 10px;
        border-left-width: 15px;
        font-size: 80px;
        width: 33%;
        float: left;
    }
}

/* Favourites Name Viewer - Middle Name */
@media screen and (min-width: 1300px) {
    #middleName {
        background-color: rgb(225, 223, 223);
        color: black;
        height: 150px;
        text-align: center;
        line-height: 130px;
        border: solid white;
        border-right-width: 2px;
        border-bottom-width: 10px;
        font-size: 80px;
        width: 33%;
        float: left;
    }
}

/* Favourites Name Viewer - Last Name */
@media screen and (min-width: 1300px) {
    #lastName {
        background-color: rgb(225, 223, 223);
        color: black;
        height: 150px;
        text-align: center;
        line-height: 130px;
        border: solid white;
        border-right-width: 2px;
        border-bottom-width: 10px;
        font-size: 80px;
        width: 33%;
        float: left;
    }
}

/* Website Input Elements */
@media screen and (min-width: 1300px) {
    .inputElement {
        width: 400px;
        height: 40px;
        font-size: 20px;
        border-radius: 0.8em;
        background-color: rgb(246, 243, 243);
        border: solid black;
        text-indent: 20px;
    }
}

/* Login Buttons */
@media screen and (min-width: 1300px) {
    .accessButton {
        font-size: 20px;
        background-color: rgb(53, 79, 117);
        border: solid;
        border-radius: 0.3em;
        padding: 10px;
        color: white;
    }
}

/* Login Buttons - Hover */
@media screen {
    .accessButton:hover {
        background-color: rgb(69, 105, 159);
    }
}

/* Filter Buttons */
@media screen and (min-width: 1300px) {
    .filterButton {
        font-size: 20px;
        background-color: rgb(82, 195, 74);
        border: solid;
        border-radius: 0.3em;
        padding: 10px;
        color: white;
    }
}

/* Filter Buttons - Hover */
@media screen {
    .filterButton:hover {
        background-color: rgb(125, 209, 119);
    }
}

/* Footer */
@media screen and (min-width: 1300px) {
    #footer {
        background-color: #ffebd2;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        margin-top: -80px;
        clear: both;
        text-align: right;
        padding: 25px;
        font-size: smaller;
    }
}

/* Header */
@media screen and (min-width: 1300px) {
    .logo {
        background-color: #fef4e8;
        float: left;
        text-align: left;
        width: 25%;
        block-size: 130px;
    }
}

/* My Account Logo */
@media screen and (min-width: 1300px) {
    .accountLogo {
        background-color: #ffebd2;
        display: flex;
        color: #2a2a2a;
        float: left;
        text-align: right;
        block-size: 130px;
        align-items: center;
        justify-content:right;
        width: 5%;
        font-size: 30px;
        border-left:2px solid #ffffff;
    }
}

/* My Account Identification */
@media screen and (min-width: 1300px) {
    .account {
        background-color: #ffebd2;
        color: #2a2a2a;
        float: right;
        align-items: center;
        justify-content:left;
        padding-left: 10px;
        display: flex;
        block-size: 130px;
        width: 15%;
        font-size: 15px;
        font-family: Arial;
    }
}

/* Navigation Bar*/
@media screen and (min-width: 1300px) {
    .navBar {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
    }
}
/* Individual Navigation Buttons */
@media screen and (min-width: 1300px) {
    .navButton {
        color: #646464;
        height: 40px;
        width: 40%;
        border: solid #fef4e8;
        font-size: 25px;
        font-weight: lighter;
        transition: all 0.5s;
        text-align: center;
        font-family: Verdana, Tahoma, sans-serif;
        border-radius: 0.5em;
        display: block;
    }
}

/* Navigation Buttons - Hover */
@media screen {
    .navButton:hover {
        background-color: #fcead4;
    }
}

/* Navigation Button Group */
@media screen and (min-width: 1300px) {
    #navButtons {
        float: left;
        align-items: center;
        justify-content: left;
        font-family: Arial;
        padding-left: 10px;
        display: flex;
        block-size: 130px;
        background-color: #fef4e8;
        width: 55%;
        padding-right: 20px;
    }
}

/* Naming symbols */
@media screen and (min-width: 1300px) {
    .addSymbols {
        float: left;
        width: 30px;
        text-align: left;
    }
}

/* Favourited, Add, & Red-Cross Symbols */
@media screen and (min-width: 1300px) {
    .symbols {
        float: left;
        width: 30px;
        text-align: left;
        padding-left: 5px;
    }
}

/* Listed Names in Website */
@media screen and (min-width: 1300px) {
    .babyNames {
        font-size: 50px;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
        padding: 10px;
        text-align: center;
    }
}

/* Boy Names Grid Container */
@media screen and (min-width: 1300px) {
    .grid-container1 {
        width: 50%;
        display: grid;
        float: left;
        grid-template-columns: 30%, 70%;
        gap: 10px;
        background-color: #f9ffff; 
    background-color: #f9ffff; 
        background-color: #f9ffff; 
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        opacity: 0.7;
        text-align: center;
    }
}

  /* Boy Names Grid Container */
@media screen and (min-width: 1300px) {
    .grid-container1 > div {
        background-color: #f4fffe;
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
    }
}

  /* Girl Names Grid Container */
@media screen and (min-width: 1300px) {
    .grid-container2 {
        width: 50%;
        display: grid;
        float: right;
        grid-template-columns: 30%, 70%;
        gap: 10px;
        background-color: #fdf5fe;
        padding: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 0.7;
        text-align: center;
    }
}
  
  /* Girl Names Grid Container */
@media screen and (min-width: 1300px) {
    .grid-container2 > div {
        background-color: #fef4ff;
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
    }
}

/* Body CSS */
@media screen {
    body {
        background-color: #ffffff
    }
}

/* ********************************************************************************************************************************************************************* */

/* Boys Names Over 1300px */
@media screen and (min-width: 1300px) {
    #boys {
        float: left;
        width: 50%;
        color: #2a2a2a;
        font-weight: bolder;
        font-size: larger;
        text-align: center;
        border-right: 2px solid rgba(105, 105, 105, 0.09);
        border-top: 4px solid rgba(105, 105, 105, 0.09);
    }
}

/* Girls Names Over 1300px */
@media screen and (min-width: 1300px) {
    #girls {
        float: right;
        width: 50%;
        color: #2a2a2a;
        font-weight: bolder;
        font-size: larger;
        text-align: center;
        border-left: 2px solid rgba(105, 105, 105, 0.09);
        border-top: 4px solid rgba(105, 105, 105, 0.09);
    }
}

/* Boys Names Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #boys {
    float: left;
    width: 50%;
    color: #2a2a2a;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-right: 2px solid rgba(105, 105, 105, 0.09);
    border-top: 4px solid rgba(105, 105, 105, 0.09);
    }
}

/* Girls Names Between 480px and 1300px */
@media screen and (min-width: 480px) and (max-width: 1300px) {
    #girls {
    float: right;
    width: 50%;
    color: #2a2a2a;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-left: 2px solid rgba(105, 105, 105, 0.09);
    border-top: 4px solid rgba(105, 105, 105, 0.09);
    }
}

/* Boys Under 480px */
@media screen and (max-width: 480px) {
    #boys {
    float: left;
    width: 100%;
    color: #2a2a2a;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    }
}

/* Girls Under 480px */
@media screen and (max-width: 480px) {
    #girls {
    float: left;
    width: 100%;
    color: #2a2a2a;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    border-top: 4px solid rgba(105, 105, 105, 0.031);
    }
}