* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

/* Navigation Button Links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}

#credentials {
    text-align: center;
}

.inputElement {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 0.8em;
    background-color: rgb(242, 242, 242);
    border: solid black;
}

.accessButton {
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 10px;
}

.accessButton:hover {
    background-color: lightgrey;
}

#footer {
    background-color: #ffebd2;
    position: relative;
    height: 80px;
    margin-top: -80px;
    clear: both;
    text-align: right;
    padding: 25px;
    font-size: smaller;
}