* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}

#credentials {
    text-align: center;
}

.filter {
    text-align: center;
    width: 100%;
    float: left;
    background-color: white;
}

.inputElement {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 0.8em;
    background-color: rgb(246, 243, 243);
    border: solid black;
    text-indent: 20px;
    
}

.accessButton {
    font-size: 20px;
    background-color: rgb(53, 79, 117);
    border: solid;
    border-radius: 0.3em;
    padding: 10px;
    color: white;
}

.accessButton:hover {
    background-color: rgb(69, 105, 159);
}

#footer {
    background-color: #ffebd2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-top: -80px;
    clear: both;
    text-align: right;
    padding: 25px;
    font-size: smaller;
}