* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}

#credentials {
    text-align: center;
}

.filter {
    text-align: center;
    width: 100%;
    float: left;
    background-color: rgb(247, 247, 247);
    border-bottom: solid rgb(193, 193, 193);
    border-top: solid rgb(193, 193, 193);
}

.emptyMessage {
    text-align: center;
    position: fixed;
    width: 50%;
}

#nameViewer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 80px;
    clear: both;
}

#firstName {
    background-color: rgb(225, 223, 223);
    color: black;
    height: 150px;
    text-align: center;
    line-height: 130px;
    border: solid white;
    border-right-width: 2px;
    border-bottom-width: 10px;
    border-left-width: 15px;
    font-size: 80px;
    width: 33%;
    float: left;
}

#middleName {
    background-color: rgb(225, 223, 223);
    color: black;
    height: 150px;
    text-align: center;
    line-height: 130px;
    border: solid white;
    border-right-width: 2px;
    border-bottom-width: 10px;
    font-size: 80px;
    width: 33%;
    float: left;
}

#lastName {
    background-color: rgb(225, 223, 223);
    color: black;
    height: 150px;
    text-align: center;
    line-height: 130px;
    border: solid white;
    border-right-width: 2px;
    border-bottom-width: 10px;
    font-size: 80px;
    width: 33%;
    float: left;
}

.inputElement {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 0.8em;
    background-color: rgb(246, 243, 243);
    border: solid black;
    text-indent: 20px;
    
}

.accessButton {
    font-size: 20px;
    background-color: rgb(53, 79, 117);
    border: solid;
    border-radius: 0.3em;
    padding: 10px;
    color: white;
}

.accessButton:hover {
    background-color: rgb(69, 105, 159);
}

#footer {
    background-color: #ffebd2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-top: -80px;
    clear: both;
    text-align: right;
    padding: 25px;
    font-size: smaller;
}